body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#grid {
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 540px;
    align-self: center;
    justify-self: center;
}

.square {
    border: 1px solid black;
    display: flex;
   
}

#footnote {
    display: flex;
    flex: 0;
}